.chat-footer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 12px 20px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $black;

  &__btn {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__form {
    width: 100%;
  }
}
