include ../message-form/message-form

mixin chatFooter()
  .chat-footer
    button(type="button" name="add").chat-footer__btn
      <object data="../assets/icons/icon-clip.svg" title="add"></object>
    .chat-footer__form
      +messageForm()
