$font-family-base: 'Inter', sans-serif !default;
$font-size-xl: 20px !default;
$font-size-lg: 18px !default;
$font-size-md: 16px !default;
$font-size-md-2: 15px !default;
$font-size-xs: 14px !default;
$font-size-xxs: 11px !default;
$font-size-base: $font-size-md-2 !default;
$font-weight-bold: 500 !default;
$font-weight-regular: 400 !default;
$font-weight-base: $font-weight-regular !default;
$line-height-lg: 2 !default;
$line-height-md: 1.5 !default;
$line-height-xs: 1.2 !default;
$line-height-base: $line-height-md !default;
$font-size-h1: 36px !default;
$font-size-h2: 24px !default;
$font-size-h3: 18px !default;
$font-size-h4: 16px !default;
$font-size-h5: 16px !default;
$font-size-h6: 16px !default;
$font-size-h1-xs: 28px !default;
$font-size-h2-xs: 18px !default;
$font-size-h3-xs: 18px !default;
$font-size-h4-xs: 16px !default;
$font-size-h5-xs: 16px !default;
$font-size-h6-xs: 16px !default;
$line-height-h1: 40px !default;
$line-height-h2: 28px !default;
$line-height-h3: 24px !default;
$line-height-h4: 22px !default;
$line-height-h5: 22px !default;
$line-height-h6: 22px !default;
$line-height-h1-xs: 1.25 !default;
$line-height-h2-xs: 1.25 !default;
$line-height-h3-xs: 1.3 !default;
$line-height-h4-xs: 1.25 !default;
$line-height-h5-xs: 1.25 !default;
$line-height-h6-xs: 1.3 !default;
$typography-margin-top: 0 !default;
$typography-margin-bottom: 0 !default;
$headings-font-family: $font-family-base !default;
$headings-font-weight: $font-weight-bold !default;
