* {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

html {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  position: relative;
  display: block;
  background-color: #fff;
}

button {
  border: none;
  padding: 0;
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input::-ms-reveal,
input::-ms-clear {
  width: 0;
  height: 0;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: normal;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

object {
  pointer-events: none;
}
