extends ../../ui/layouts/chat/chat.pug

block mixins
  include ../../ui/components/section/section.pug

block sidebar
  | !{header}
  | !{chats}

block content
  +section()
    p Выберите чат чтобы отправить сообщение
