mixin messageForm()
  form.message-form
    input(type="text" name="message" placeholder="Сообщение").message-form__text
    button(type="submit" name="send").button.button--rounded.button--back.message-form__send
      <object data="../assets/icons/arrow-left.svg" title="send"></object>
