include ../../../elements/button/button
include ../../../elements/link/link
include ../../../elements/input/input

form.form
  .form__body
    .form__row
      +input('email', 'email', 'Почта')
    .form__row
      +input('text', 'login', 'Логин')
    .form__row
      +input('text', 'first_name', 'Имя')
    .form__row
      +input('text', 'second_name', 'Фамилия')
    .form__row
      +input('tel', 'phone', 'Телефон')
    .form__row
      +input('password', 'password', 'Пароль')
    .form__row
      +input('password', 'password', 'Пароль (еще раз)')
  .form__footer
    .form__row
      +button('submit', 'Зарегистрироваться', 'Зарегистрироваться')
    .form__row
      +link('./signin.pug', 'Войти')
