.form-field {
  position: relative;

  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    position: absolute;
    top: 7px;
    left: 0;
    color: $grey2;
    pointer-events: none;
    transition: all 0.25s ease;

    .hasValue & {
      font-size: 10px;
      line-height: 10px;
      top: -10px;
    }
  }

  &__msg {
    font-size: 8px;
    line-height: 8px;
    text-align: left;
    display: block;
    padding-top: 7px;

    .isError & {
      color: $red;
    }
  }
}
