.link {
  color: $blue;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: lighten($color: $blue, $amount: 10);
  }

  &--red {
    color: $red;

    &:hover {
      color: lighten($color: $red, $amount: 8);
    }
  }

  &--grey {
    color: $grey2;

    &:hover {
      color: lighten($color: $grey2, $amount: 8);
    }
  }

  &--icon {
    display: inline-flex;
    align-items: center;

    object {
      margin-left: 5px;
    }
  }
}
