extends ../ui/layouts/default/default.pug

block vars
  - var title = 'Page Not Found - 404'
  - var errorTitle = '404'
  - var errorDesc = 'Упс, неправильная страница'
  - var errorUrl = '/'

block mixins
  include ../ui/components/section/section.pug

block content
  main
    +section()
      include ../ui/components/error-page/error-page.pug
