extends ../ui/layouts/chat/chat.pug

block vars
  - var title = 'Pines Chat'
  -
    var chats = [
      {
        title: 'Владось',
        preview: '???',
        date: '10:49',
        count: '2'
      },
      {
        title: 'Антон',
        preview: 'Файл: np_project.csv',
        date: '08:59',
        count: '5'
      },
      {
        title: '+7 982 548 77 45',
        preview: '))0)',
        date: '12:00',
        count: ''
      },
      {
        title: 'Тема',
        preview: 'Да успокойся ты, все нормально будет, не кипишуй',
        date: '08 дек 2022',
        count: ''
      },
    ]

block mixins
  include ../ui/components/header/header.pug
  include ../ui/components/section/section.pug
  include ../ui/components/chat-list/chat-list.pug

block sidebar
  +header()
  +chatList(chats)

block content
  +section()
    p Выберите чат чтобы отправить сообщение
