extends ../ui/layouts/chat/chat

block vars
  - var title = 'Pines Chat'
  -
    var chats = [
      {
        title: 'Владось',
        preview: 'Изображение',
        date: '07:29',
        count: '5'
      },
      {
        title: 'Тема',
        preview: 'Вы: Хорошо, скину',
        date: '01:00',
        count: ''
      },
      {
        title: '+7 859 452 84 84',
        preview: 'просто ЖЕСТЬ!!!',
        date: '15:12',
        count: '4'
      },
      {
        title: 'Антон',
        preview: 'Вы: ахахахахахахахах)',
        date: 'Пт',
        count: '',
        active: true,
      }
    ]
  -
    var messages = [
      {
        type: 'date',
        value: '19 июня'
      },
      {
        type: 'inbox',
        value: 'А гвозди?)',
        date: '11:56'
      },
      {
        type: 'outbox',
        value: 'ахахахахахахахах)',
        date: '12:00',
        sended: true,
      }
    ]

block mixins
  include ../ui/components/header/header
  include ../ui/components/section/section
  include ../ui/components/chat-list/chat-list
  include ../ui/components/chat-view/chat-view
  include ../ui/components/chat-header/chat-header
  include ../ui/components/chat-footer/chat-footer
  include ../ui/components/message-view/message-view

block sidebar
  +header()
  +chatList(chats)

block content
  +chatView()
    +chatHeader()
    +messageView(messages)
    +chatFooter()
