//- ui
extends ../ui/layouts/ui/ui.pug

block vars
  - var title = 'UI'
  -
    var pages = [
      {
        name: '404',
        url: './404.pug'
      },
      {
        name: '5хх',
        url: './500.pug'
      },
      {
        name: 'Вход',
        url: './signin.pug'
      },
      {
        name: 'Регистрация',
        url: './signup.pug'
      },
      {
        name: 'Чат',
        url: './chat.pug'
      },
      {
        name: 'Чат - Активный',
        url: './chat-active.pug'
      },
      {
        name: 'Профиль',
        url: './profile.pug'
      },
      {
        name: 'Профиль - Изменение данных',
        url: './profile-change-info.pug'
      },
      {
        name: 'Профиль - Изменение пароля',
        url: './profile-change-password.pug'
      },
    ]

block mixins
  include ../ui/components/ui-list/ui-list.pug

block content
  main
    h1 Список страниц
    +uilist(pages)

