include ../ui/components/ui-list/ui-list.pug

-
  var pages = [
    {
      name: '404',
      url: '/404/404.html'
    },
    {
      name: '5хх',
      url: '/500/500.html'
    },
    {
      name: 'Вход',
      url: '/signin/signin.html'
    },
    {
      name: 'Регистрация',
      url: '/signup/signup.html'
    },
    {
      name: 'Чат',
      url: '/chat/chat.html'
    },
    {
      name: 'Чат - Активный',
      url: '/chat-active/chat-active.html'
    },
    {
      name: 'Профиль',
      url: '/profile/profile.html'
    },
    {
      name: 'Профиль - Изменение данных',
      url: '/profile-change-info/profile-change-info.html'
    },
    {
      name: 'Профиль - Изменение пароля',
      url: '/profile-change-password/profile-change-password.html'
    },
  ]

main
  h1 Список страниц
  +uilist(pages)

