include ../../elements/link/link
include ../../components/search/search

mixin header()
  header.header
    +link('./profile.pug', 'Профиль', 'link--grey link--icon')
      <object data="../assets/icons/arrow-right.svg" title="arrow"></object>
    +search()
