include ../../ui/components/section/section.pug

- var errorTitle = '404'
- var errorDesc = 'Упс, неправильная страница'
- var errorUrl = '/'

main
  +section()
    include ../../ui/components/error-page/error-page.pug
