mixin chatHeader()
  .chat-header
    .chat-header__name
      .chat-header__name-img
      .chat-header__name-value= 'Вадим'
    button(type="button" name="settings").chat-header__button
      <object data="../assets/icons/icon-settings.svg" title="settings"></object>

