include ../../elements/input/input
include ../../elements/button/button
include ../../elements/link/link

include profile-item

form.profile
  .profile__header
    .profile__img
      <object data="../assets/icons/img.svg" title="avatar"></object>
  .profile__main
    +profileItem('Старый пароль')
      +input('password', 'oldPassword', '•••••••••')
    +profileItem('Новый пароль')
      +input('password', 'newPassword', '•••••••••••')
    +profileItem('Повторите новый пароль')
      +input('password', 'newPassword', '•••••••••••')
  .profile__footer
      +button('submit', 'Сохранить', 'Сохранить')
      +link('./profile.pug', 'Отмена')

