include ../profile-item/profile-item

.profile
  .profile__header
    .profile__img
      
    h1.profile__title= 'Иван'
  .profile__main
    if data
      each item in data
        +profileItem(item.name, item.value)
  .profile__footer
    +profileItem()
      | !{changeInfoLink}
    +profileItem()
      | !{changePasswordLink}
    +profileItem()
      | !{exitLink}
