.profile {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  width: 100%;
  max-width: 510px;
  margin: auto;
  padding: 60px 0;

  &__header,
  &__main {
    margin-bottom: 50px;
  }

  &__footer {
    text-align: center;

    .button {
      margin-bottom: 20px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    background-color: $grey;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: $white;
  }

  &__field {
    .form-field__msg {
      padding-top: 0;
      text-align: right;
    }
  }
}
