.message-view {
  display: flex;
  flex-direction: column;
  padding: 0 12px 20px;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding: 30px 10px;
    color: $grey2;
  }

  &__inbox,
  &__outbox {
    margin-bottom: 10px;
  }

  &__outbox {
    display: flex;
    justify-content: end;
  }
}
